[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/rack-bug"]
	path = vendor/plugins/rack-bug
	url = git://github.com/timocratic/rack-bug.git
[submodule "vendor/plugins/sprockets-rails"]
	path = vendor/plugins/sprockets-rails
	url = git://github.com/sstephenson/sprockets-rails.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/safe_mass_assignment"]
	path = vendor/plugins/safe_mass_assignment
	url = git://github.com/jamis/safe_mass_assignment.git
[submodule "vendor/plugins/sanitize_email"]
	path = vendor/plugins/sanitize_email
	url = git://github.com/pboling/sanitize_email.git
[submodule "vendor/plugins/sitemap_generator-plugin"]
	path = vendor/plugins/sitemap_generator-plugin
	url = git://github.com/adamsalter/sitemap_generator-plugin.git
[submodule "vendor/plugins/default_values"]
	path = vendor/plugins/default_values
	url = git://github.com/rubaidh/default_values.git
[submodule "vendor/plugins/i18n-js"]
	path = vendor/plugins/i18n-js
	url = git://github.com/fnando/i18n-js.git
[submodule "vendor/plugins/facebooker"]
	path = vendor/plugins/facebooker
	url = git://github.com/grimen/facebooker.git
[submodule "vendor/plugins/validation_reflection"]
	path = vendor/plugins/validation_reflection
	url = git://github.com/redinger/validation_reflection.git
