%h1.heading
  = "Editing company_contact %s" % @company_contact.id
  
- semantic_form_for(@company_contact) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', company_contacts_path