#ck_fu {
  color: white;
  font-size: 13px;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
  width: 100%;
  line-height: 1em; }
  #ck_fu a {
    color: white; }
  #ck_fu.staging {
    background: blue; }
  #ck_fu.development {
    background: green; }
  #ck_fu.production {
    background: red; }
