.fb_connect_logout_wrapper
  - semantic_form_for(AccountSession.new, :url => destroy_account_session_path, :html => {:method => :delete, :id => 'fb_connect_logout_form', :style => 'display:none;'}) { |f| }
  
  :javascript
    // Note: JavaScript framework agnostic version - native JavaScript.
    
    function fb_connect_logout() {
      document.getElementById('fb_connect_logout_form').submit();
      // return false;
    };
    
    function fb_connect_logout_custom() {
      FB.Connect.logout(fb_connect_logout);
      return false;
    };
    
  - if options.delete(:button)
    = fb_login_button('fb_connect_logout();', options.merge(:autologoutlink => true))
  - else
    = link_to_function(options.delete(:label), 'fb_connect_logout_custom();')