.fb_connect_login_wrapper
  - semantic_form_for(AccountSession.new, :url => account_session_path, :html => {:id => 'fb_connect_login_form', :style => 'display:none;'}) { |f| }
  
  :javascript
    function fb_connect_login() {
      jQuery('#fb_connect_login_form').submit();
    };
    
    function fb_connect_login_custom() {
      FB.Connect.requireSession(fb_connect_login);
      return false;
    };
    
  - if options.delete(:button)
    = fb_login_button('fb_connect_login();', options)
  - else
    = link_to_function(options.delete(:label), 'fb_connect_login_custom();')