%h1.heading
  = "Editing category %s" % @category.id
  
- semantic_form_for(@category) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', categories_path