%h1.heading
  = "Editing prize %s" % @prize.id
  
- semantic_form_for(@prize) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', prizes_path